<header class="header">
    <h1 class="reussir-title">Réussir mon CM2</h1>
    <p class="description">Voici une liste des compétences en maths que les élèves acquièrent en CM2,
      classées en catégories. Placez votre souris sur le nom d’une compétence pour voir un exemple de question. </p>
    <p class="description">Pour commencer à travailler, cliquez sur un lien. IXL enregistre votre score, ainsi le niveau de difficulté des questions augmente automatiquement à mesure que vous vous améliorez.</p>
  </header>
  
  <div class="page">
    <div class="left-column">
      <h1 class="title">Nombres et calculs</h1>
      <h2 class="subtitle">Nombres entiers</h2>
      <a routerLink="/ELearning/questions/A.1 Décomposer des nombres entiers">A.1 Décomposer des nombres entiers</a>
      <a routerLink="/decomposer">A.2 Comparer et ordonner des nombres entiers</a>
      <a routerLink="/decomposer">A.3 Arrondir</a>
      <a routerLink="/decomposer">A.4 Les multiples d'un nombre</a>
      <h2 class="subtitle">Suites de nombres</h2>
      <a routerLink="/suites">B.1 Suites arithmétiques</a>
      <a routerLink="/suites">B.2 Suites géométriques</a>
      <h2 class="subtitle">Multiplication</h2>
      <a routerLink="/tables">C.1 Tables de multiplication</a>
      <a routerLink="/tables">C.2 Multiplications : calcul mental</a>
      <a routerLink="/tables">C.3 Multiplications : trouver le facteur manquant</a>
      <a routerLink="/tables">C.4 Multiplier par des nombres à un chiffre</a>
      <h2 class="subtitle">Division</h2>
      <a routerLink="/comprendre">D.1 Comprendre la division</a>
      <a routerLink="/comprendre">D.2 Associer multiplication et division</a>
      <a routerLink="/comprendre">D.3 Divisions</a>
      <a routerLink="/comprendre">D.4 Divisions à trou</a>
      <a routerLink="/comprendre">D.5 Associer des multiplications et des divisions</a>
    </div>
    <div class="right-column">
      <h2 class="subtitle">Fractions</h2>
      <a routerLink="/suites">E.1 Comprendre les fractions</a>
      <a routerLink="/suites">E.2 Comparer des fractions à l'aide de schémas</a>
      <a routerLink="/suites">E.3 Placer des fractions sur des droites graduées</a>
      <a routerLink="/suites">E.4 Comparer des fractions sur une droite gradué</a>
      <a routerLink="/suites">E.5 Comparer des fractions</a>
      <a routerLink="/suites">E.6 Ordonner des fractions</a>
      <h2 class="subtitle">Fractions équivalentes</h2>
      <a routerLink="/tables">F.1 Écrire des fractions égales à l'aide de schéma</a>
      <a routerLink="/tables">F.2 Écrire des fractions égales</a>
      <a routerLink="/tables">F.3 Simplifier des fractions</a>
      <a routerLink="/tables">F.4 Écrire des fractions égales à un nombre entier</a>
      <h2 class="subtitle">Fractions décimales</h2>
      <a routerLink="/tables">G.1 Ecrire des nombres décimaux sous forme de fractions</a>
      <a routerLink="/tables">G.2 Écrire des nombres décimaux sous forme développée à l'aide de fractions</a>
      <h2 class="subtitle">Additionner des fractions</h2>
      <a routerLink="/tables">H.1 Additionner des fractions de même dénominateur à l'aide de droites graduées</a>
      <a routerLink="/tables">H.2 Additionner des fractions de même dénominateur</a>
      
    </div>
    <div class="left-column">
      <h2 class="subtitle">Nombres décimaux</h2>
      <a routerLink="/tables">I.1 Représenter des nombres décimaux et des fractions décimales sur des schémas</a>
      <a routerLink="/tables">I.2 Donner la valeur d'un chiffre en fonction de sa place dans un nombre décimal</a>
      <a routerLink="/tables">I.3 Forme développée des nombres décimaux</a>
      <a routerLink="/tables">I.4 Nombres décimaux égaux</a>
      <h2 class="subtitle">Calculs avec des nombres décimaux</h2>
      <a routerLink="/comprendre">J.1 Additionner des nombres décimaux</a>
      <a routerLink="/comprendre">J.2 Soustraire des nombres décimaux</a>
      <a routerLink="/comprendre">J.3 Additionner et soustraire des nombres décimaux</a>
      <a routerLink="/comprendre">J.4 Estimer des sommes et des différences de nombres décimaux</a>
      <a routerLink="/comprendre">J.5 Estimer des produits de nombres décimaux</a>
      <h2 class="subtitle">Calculs</h2>
      <a routerLink="/comprendre">K.1 Additionner, soustraire, multiplier et diviser des nombres entiers</a>
      <a routerLink="/comprendre">K.2 Priorités opératoires</a>
      <a routerLink="/comprendre">K.3 Additionner, soustraire, multiplier et diviser des nombres décimaux</a>
    </div>
    <div class="right-column">
      <h2 class="subtitle">Calculs avec des nombres décimaux</h2>
      <a routerLink="/comprendre">J.1 Additionner des nombres décimaux</a>
      <a routerLink="/comprendre">J.2 Soustraire des nombres décimaux</a>
      <a routerLink="/comprendre">J.3 Additionner et soustraire des nombres décimaux</a>
      <a routerLink="/comprendre">J.4 Estimer des sommes et des différences de nombres décimaux</a>
      <a routerLink="/comprendre">J.5 Estimer des produits de nombres décimaux</a>
    </div>
  </div>
  