.header {
    background-color: #edf2f8;
    color: rgb(21, 136, 98);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .page {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
  }
  
.left-column,
.right-column {
  flex: 1;
  padding-right: 20px;
}
  .reussir-title {
    font-size: 36px;
    margin-bottom: 10px;
  }

  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0f9b4e; /* Green color */
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: #29c56f; /* Green color */
  }
  
  .description {
    font-size: 16px;
    line-height: 1.5;
    color: #333333; /* Dark color */
    margin: 5px 0; /* Adjusted margin */
  }
  
  .page {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  a {
    display: block;
    margin: 5px 0;
    color: #0f0f0f;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
