body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .quiz-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .question {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card {
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .response-field {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
  }
  .clicked {
    border: 2px solid #007bff; /* Change this color to your desired color */
  }