<body>
    <header>
        <h1><span class="italic">Maths</span></h1>
        <p><span class="highlight">Un nombre infini d’exercices auto-corrigés et ludiques</span></p>
        <p><span class="highlight">pour comprendre et acquérir toutes les compétences de mathématiques de la maternelle à la 6ème.</span></p>
    </header>
    
    <main>
        <mat-card *ngFor="let degree of degrees" class="card">
            <mat-card-header class="card-header">
                {{ degree.title }}
            </mat-card-header>
            <mat-card-content class="card-body">
                <p>{{ degree.sub_title }}</p>
                <button mat-button class="card-button" (click)="navigate()">Learn More</button>
            </mat-card-content>
        </mat-card>
    </main>
    
</body>
